/* import font style from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;

}

/* Shared Style */
p {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

/* heade style */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 10px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.section-title {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
}

/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 4rem;
    font-weight: 700;
}

/* main style */
main {
    max-width: 1220px;
    margin: 50px auto;
}

/* Teams style */
.teams-container {
    display: flex;
    align-items: center;
}

.team-pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 50px;
    padding-right: 70px;
}

.quick-list {
    color: rgb(114, 114, 114);
    font-weight: 500;
    font-size: 2.8rem;
}

.of-our {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
}

.text-features {
    color: rgb(255, 144, 14);
    font-size: 2.8rem;
    font-weight: 700;
}

/* features style */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
    max-width: 1220px;
    margin: 50px auto;
}

.features-card {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
}

.features-title {
    color: rgb(19, 19, 19);
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 10px;
}

.features .features-title {
    border-left: 5px solid rgb(255, 144, 14);
}

.ten-year-badge {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 300px;
    text-align: center;
    padding: 30px;
    position: relative;
    bottom: 100px;
}

.ten-year-badge h2 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

.ten-year-badge h4 {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
}

.features-img img {
    height: 90%;
    margin-left:50px;

}

/* Facts Section */

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    width:200px;
    height: 200px;
}

.card-stats {
    font-size: 45px;
    font-weight: 600;
    color: rgb(66, 66, 66);
    margin-top: 10px;
    margin-bottom: 0;
}

.card-title {
    margin-top: 1px;
}

/* Sponsor styles */
.sponsor {
    text-align: center;
}

.sponsor-title {
    color: 19, 19, 19;
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}

.sponsor-img-container img {
    width: 165px;
}

.footer {
    border-radius: 8px;
    background: rgb(255, 244, 231);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
margin: 50px auto;
    height: 50px;
    width: 1220px;

}

/* Responsive media queries */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .sponsor-img-container,
    .features {
        flex-direction: column;
    }

    .team-pictures {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .teams-container {
        flex-direction: column;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts{
        padding: 20px;
    }

    .facts-card-container {
        flex-direction: column;
        gap: 20px;
    }

    .sponsor {
        padding: 10px;
    }

    .features-img img {
        width: 100%;
        margin-left: 0;
    }

    .features {
        padding: 20px;
    }

    .features-img {
        padding: 20px;
    }

    .ten-year-badge {
        position: static;
        max-width:230px;
    }
}

/* tablet or medium devices */
@media screen and (min-width:572px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav,
    .features {
        flex-direction: column;
    }
    .teams-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .facts {
        padding: 20px;
    }

    .facts-card-container {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .features {
        padding: 20px;
    }

    .features-img img{
       width: 500px;
    }
    .ten-year-badge {
        position: static;
        max-width:230px;
    }
}